{% extends 'shop/base.html' %}
{% load static %}
{% block title %}Topwear{% endblock title %}
{% block main-content %}
 <div class="container my-5 mob">
   <div class="row">
     <div class="col-sm-3">
        <div class="list-group">
          <a href="{% url 'topwear' %}" class="list-group-item list-group-item-action" aria-current="true">All Topwear</a>
          <a href="{% url 'topweardata' 'Jack & Jones' %}" class="list-group-item list-group-item-action" aria-current="true">Jack & Jones</a>
          <a href="{% url 'topweardata' 'Allen Solly' %}" class="list-group-item list-group-item-action" aria-current="true">Allen Solly</a>
          <a href="{% url 'topweardata' 'Shasmi' %}" class="list-group-item list-group-item-action" aria-current="true">Shasmi</a>
          <a href="{% url 'topweardata' 'Lymio' %}" class="list-group-item list-group-item-action" aria-current="true">Lymio</a>
          <a href="{% url 'topweardata' 'Siril' %}" class="list-group-item list-group-item-action" aria-current="true">Siril</a>
          <a href="{% url 'topweardata' 'Hanumntra' %}" class="list-group-item list-group-item-action" aria-current="true">Hanumntra</a>
          <a href="{% url 'topweardata' 'below' %}" class="list-group-item list-group-item-action" aria-current="true">Below 5000</a>
          <a href="{% url 'topweardata' 'above' %}" class="list-group-item list-group-item-action" aria-current="true">Above 1000</a>
       </div>
     </div>
     <div class="col-sm-9">
      <div class="row text-center">
        
         <div class="col-sm-3text-center mb-5">
           {% for product in topwears %}
           <a href="{% url 'product-detail' product.product_slug %}" class="btn">
            <div class="item">
              <img src="{{product.product_image.url}}" alt="" height="300" class="">
              <div class="fw-bold">{{product.title}}</div>
              <div class="fw-bold">{{product.discounted_price}}
              <small class="fw-light  mb-5"><s>{{product.selling_price}}</s></div>
             </div>
           </a>
           {% endfor %}
         </div> 
        </div>
     </div>
    </div>
 </div>
 {% endblock main-content %}